dist: trusty
language: scala
scala: 2.12.8
jdk: oraclejdk8

before_script:
  # Clone generated docs so that we can run some integration tests
  - git clone https://github.com/playframework/play-generated-docs.git $PWD/data/generated

script: sbt test

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt

before_cache:
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
  - find $HOME/.sbt  -name "*.lock"               -delete
