
.prettyprint
  position: relative
  padding-top: 10px !important 
  padding-bottom: 10px !important

.copy-button
  align-self: end
  padding: 10px 10px !important
  background: #f7f7f7;
  border: 1px solid;
  border-radius: 8px
  color: #447103
  cursor: pointer
  font-size: var(--font-size-s)
  justify-self: end
  position: absolute
  right: 0
  z-index: 999999


.documentation #content article 
  position: relative

