one-up =		100%
two-up = 		calc(100%/2 - (((2 - 1) * 1rem) / 2))
three-up = 		calc(100%/3 - (((3 - 1) * 1rem) / 3))
four-up = 		calc(100%/4 - (((4 - 1) * 1rem) / 4))
five-up = 		calc(100%/5 - (((5 - 1) * 1rem) / 5))
six-up = 		calc(100%/6 - (((6 - 1) * 1rem) / 6))
seven-up = 		calc(100%/7 - (((7 - 1) * 1rem) / 7))
eight-up = 		calc(100%/8 - (((8 - 1) * 1rem) / 8))
nine-up = 		calc(100%/9 - (((9 - 1) * 1rem) / 9))

boxgap(v)
	.box,.box-gap
		width: v
	
.flex-grid
	display: flex
	flex-direction: row
	flex-wrap: wrap
	align-content: flex-start
	justify-content: space-between
	margin: 0
	padding: 0 1rem
	&.flush
		padding: 0
	
.box,.box-gap
	display: inline-block
	vertical-align: top
	width: 100%
	margin-bottom: 1rem
	&.flush
		margin-bottom: 0
	.lb-grey &
		background: rgba(white, .2)
	
.block-only-not-small
	display: none

.one-up
	boxgap(one-up)
.two-up
	boxgap(two-up)
.three-up
	boxgap(three-up)
.four-up
	boxgap(four-up)
.five-up
	boxgap(five-up)
.six-up
	boxgap(six-up)
.seven-up
	boxgap(seven-up)
.eight-up
	boxgap(eight-up)
.nine-up
	boxgap(nine-up)
		
@media mediumOn
	.small-only
		display: none
	.block-only-not-small
		display: block
	.one-up-medium
		boxgap(one-up)
	.two-up-medium
		boxgap(two-up)
	.three-up-medium
		boxgap(three-up)
	.four-up-medium
		boxgap(four-up)
	.five-up-medium
		boxgap(five-up)
	.six-up-medium
		boxgap(six-up)
	.seven-up-medium
		boxgap(seven-up)
	.eight-up-medium
		boxgap(eight-up)
	.nine-up-medium
		boxgap(nine-up)
@media largeOn
	.block-only-not-small
		display: block
	.one-up-large
		boxgap(one-up)	
	.two-up-large
		boxgap(two-up)
	.three-up-large
		boxgap(three-up)
	.four-up-large
		boxgap(four-up)
	.five-up-large
		boxgap(five-up)
	.six-up-large
		boxgap(six-up)
	.seven-up-large
		boxgap(seven-up)
	.eight-up-large
		boxgap(eight-up)
	.nine-up-large
		boxgap(nine-up)
