#getLogo
    display: none
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 9999
    background: rgba(#000,.5)
    img
        height: 60px
    .pan
        fixed: top 50% left 50%
        width: 500px
        margin: -175px 0 0 -250px
        padding: 30px
        background: white
        box-shadow: 0 2px 10px rgba(#000, .5)
        z-index: 10000
        color: grey-dark
        text-align: center
        h1
            text: title bold
            margin: 20px 0

    q
        display: block
        padding: 0 0 20px
        color: grey
        font: 19px Georgia, Serif
        font-family: 'PT Serif', serif
        font-style: italic
        border-bottom: 1px solid sand
        &:before, &:after
            content: ""

    figure
        width: 50%
        float: left
        padding: 20px
        line-height: 25px
        margin: 0
        &.reverse
            background: green
    figure a
        color: green-alt
        text-decoration: none
    figure a:hover
        text-decoration: underline
