body .optanon-alert-box-wrapper .optanon-alert-box-bottom-top
    height: 20px
body .optanon-alert-box-wrapper .optanon-alert-box-bottom-padding
    padding-bottom: 20px

.lightbend-privacy-cookie-footer
    padding: 1rem 0 1rem 0
    color: white
    vertical-align: middle
    p
        font-size: 0.875rem
        vertical-align: middle
    .optanon-show-settings-wrapper
        display: inline-block
        vertical-align: middle

.optanon-cookie-policy-group-name
    font-weight: 700

.cookie-warning
    background: #6cc04a
    display: inline-block
    margin: 1rem 0
    padding: 1rem
    font-weight: 700
    border-radius: 3px
    text-align: center
    p
        color: white !important
        font-size: 1rem !important
        margin: 0
    
        > a
            border: 1px solid white
            color: white
            display: inline-block
            padding: .25rem .5rem
            text-decoration: none
            margin: .25rem 1rem
            &:hover
                background: rgba(white, .6)
                color: #6cc04a
    small
        color: white !important
        font-size: .875rem !important
.flex-video
    background-color: #f5f5f5
    text-align: center
    .cookie-warning
        background: transparent
        padding: .5rem 2rem
        margin: 2rem auto 0 auto
        p 
            color: green !important
            > a
                display: block
                margin: 1rem auto
                max-width: 300px
                border: 1px solid green
                color: green
                &:hover
                    background: green-dark
                    color: white

//ontrust ccpa upgrades
body
    #onetrust-pc-sdk .ot-switch
        width: 45px !important
        padding: 0 !important
    #onetrust-pc-sdk .ot-switch-nob:before 
        transform: translateX(2px) 
    .onetrust-pc-dark-filter
        background: rgba(0,0,0,.75)
    #onetrust-button-group
        display: flex !important
        flex-direction: row-reverse !important
        justify-content: flex-end !important
        text-align: left !important
    #onetrust-accept-btn-handler
        opacity: 1 !important
        transition: anime
        outline: none !important
        &:hover
            background-color: green !important
            border-color: green !important
            transition: anime
    #onetrust-pc-sdk #close-pc-btn-handler.ot-close-icon
        outline: none !important
    .ot-pc-footer-logo
        display: none
    #ot-sdk-cookie-policy,
    #cookie-policy-description,
    .ot-sdk-cookie-policy-group-desc
        font-size: 1rem !important
        line-height: 1.5 !important
        margin-bottom: 1.0625rem !important
        & p
            font-size: 1rem !important
            line-height: 1.5 !important
            margin-bottom: 1.0625rem !important
    #onetrust-pc-sdk .ot-cat-grp .ot-always-active
        color: #6cc04a
    #onetrust-pc-sdk .ot-tgl input:checked+.ot-switch .ot-switch-nob
        border-color: #6cc04a
        background-color: #d4e8cb
        &:before
            background-color: #6cc04a
