@import controllers.documentation.ReverseRouter
@(title: String = "Outreachy")(using req: RequestHeader, reverseRouter: ReverseRouter)

@main(title, "outreachy"){
    <header id="top">
        <div class="wrapper">
            <h1>
                @title
            </h1>
        </div>
    </header>
    <section id="content">
        <article>
            <h2>Outreachy - Round 15</h2>

            <p>
                Lightbend and Play Framework are proud to be participating in
                <a href="//www.outreachy.org/">Outreachy</a>, a program to help groups that are underrepresented
                in free and open source software get involved. For detailed information about Outreachy, including how
                to apply, see the <a href="//www.outreachy.org/apply/">main application page</a>.
            </p>

            <p>
                This is the landing page for Outreachy Play Framework projects.
            </p>

            <p>
                Applications for Round 15 Play Framework projects close on the <b>23rd of October 2017</b>.
            </p>

            <h2>Getting started</h2>

            <p>
                The best way to get started is to read Play's <a href="@routes.Application.getInvolved">Get Involved</a>
                page. From there you can find information about the project issue tracker and mailing lists, links to
                instructions for building Play from source.
            </p>

            <p>
                The best place to talk about Play development is on the
                <a href="//gitter.im/playframework/contributors">Play contributors Gitter channel</a>, while the
                <a href="//groups.google.com/forum/#!forum/play-framework-dev">Play development mailing list</a>
                can be used for deeper architectural and design style discussions. Discussion about the Play Outreachy
                projects can be had in the
                <a href="//gitter.im/playframework/outreachy">Play Outreachy Gitter channel</a>, where Play
                Outreachy mentors can be found (though note that the Play team is very geographically distributed,
                including developers in Australia, USA, New Zealand and Europe, so don't expect to get immediate
                responses from any particular person.
            </p>

            <h2>Projects</h2>

            <p>
                Lightbend is sponsoring one intern for Play Framework in Outreachy in Round 15.
            </p>

            <h3>Play Module Directory</h3>

            <p>
                Mentor: <a href="//github.com/gmethvin">Greg Methvin</a>
            </p>

            <p>
                Play 1 offered a module directory for Play modules, which can still be found on the Play website
                <a href="//playframework.com/modules">here</a>. Unlike Play 1, where a home baked dependency
                management system was used, Play 2 uses sbt, which is able to use any Ivy or Maven based distribution
                system for distributing libraries. This makes the requirements of a module directory for Play 2 quite
                different to Play 1, which is why the Play 1 module directory has not been reused for Play 2.
            </p>

            <p>
                Currently an ad-hoc <a href="//www.playframework.com/documentation/2.6.x/ModuleDirectory">
                module directory</a> is maintained in the markdown documentation. This quickly gets out of date, and
                is missing features such as the ability to search for modules, as well as listing different module
                versions and compatibility matrices.
            </p>

            <p>
                The new module directory should allow a user to login using their GitHub id, and then submit new modules
                for approval. Once approved by an admin, the user should be able to edit and maintain their module,
                adding new module versions. A brief outline of requirements and discussion about the feature can be
                found <a href="//github.com/playframework/playframework.com/issues/25">on this GitHub issue</a>.
            </p>

            <p>
                The intern ideally should have some web development experience. Play and/or Scala experience will be
                useful, but not required.
            </p>

        </article>
        <aside>
            @commonSidebar()
        </aside>
    </section>
}
