text(args...)
    for set in args
        text-{set}()

// Font families
text-title()
    font-family: "HelveticaNeue-CondensedBold", "Open Sans Condensed", "Helvetica", sans-serif
    font-weight: bold
    font-stretch: condensed
    letter-spacing: -.03em

text-logo()
    font-family: "Avenir", sans-serif

text-default()
    font-family: "Helvetica Neue", "Helvetica", sans-serif
    font-weight: normal
    font-size: 15px

text-center()
    text-align: center
text-left()
    text-align: left
text-right()
    text-align: right

// Font weights
text-light()
    font-weight: 300

text-bold()
    font-weight: 700

text-normal()
    font-weight: normal


// Font prefs
text-tiny()
    font-size: 10px

text-small()
    font-size: 12px

text-regular()
    font-size: 15px

text-big()
    font-size: 18px

text-large()
    font-size: 25px

text-bigger()
    font-size: 35px

text-biggest()
    font-size: 50px

text-uppercase()
    text-transform: uppercase

text-underline()
    text-decoration: underline

text-no-underline()
    text-decoration: none

