// Colors

sand=#f4f3f1
grey-text=#96938d
grey-dark=#454545
grey-light=#ebebeb
green=#92d13d
//green=#8bce4a
green-text=#6db40d
green-alt=#548b0c
green-dark=#447105
blue=#20a9d1
blue-alt=#50b4a2
yellow=#FFF7D6

// Sizes
site-width= 960px
header-height = 80px


