@import controllers.documentation.ReverseRouter
    @(title: String)(using req: RequestHeader, reverseRouter: ReverseRouter)
@main(title, "blog"){
    <header id="top">
        <div class="wrapper">
            <h1>
                @title
            </h1>
        </div>
    </header>
    <section id="content">
        <br/>
        <article>
            <ul>
                <li><a href="@routes.Blog.graal()">Running Play on GraalVM</a></li>
                <li><a href="@routes.Blog.socketio()">Play socket.io support</a></li>
                <li><a href="@routes.Blog.ossPledgeLaunch()">Celebrating the Launch of the Open Source Pledge</a></li>
            </ul>
        </article>
    </section>
}

