@import "nib"
@import "util/_index"

global-reset()

mediumOn = "only screen and (min-width: 40.063em)"
largeOn = "only screen and (min-width: 64.063em)"

*
    box-sizing: border-box

body
    background: white
    text: default
    -webkit-font-smoothing: antialiased

@media only screen and (max-device-width: 500px)
    body
        -webkit-text-size-adjust:none

a
    text-decoration: none

@import "modules/_index.styl"
@import "pages/_index.styl"

a[href="#"], a[href="#todo"], [todo]
    &:before
        content: "TODO"
        background: #b00
        padding: 0 2px
        margin-right: 4px
        border-radius: 2px
        color: white
        font-size: 8px
        font-weight: bold
        #optanon &, .optanon-alert-box-wrapper &
            content: none
            background: none
            padding: 0 3px 0 0
            font-size: 13px
            margin: 0

.vulnerability-warning
    font-weight: bold
    color: red
    a
        color: red

.not-found-content
    min-height: inherit
    z-index: auto