@(activator: ActivatorRelease, playLatestRelease: PlayRelease)

<article class="activator">
    <h2 id="activator">Play with Activator</h2>
    <div>
        <p>
            <a href="@activator.miniSecureUrl" class="downloadActivatorLink">
                Activator @activator.version mini-package with no bundled dependencies (@activator.miniSize)</a>: contains only the Activator launcher and dependencies will be download as required. Requires JDK 1.8.
        </p>
        <p>
            <a href="@activator.secureUrl" class="downloadActivatorLink" data-version="offline">
                Activator @activator.version including Play @playLatestRelease.version (@activator.size)</a>: contains most of the required dependencies bundled upfront. Requires JDK 1.8.
        </p>
    </div>
</article>
<hr/>
<article class="cli">
    <img src="@routes.Assets.versioned("images/download/cli.png")">
    <h3>Activator from the command line</h3>
    <p><a href="@controllers.documentation.ReverseRouter.latest(None, "Installing")">Add activator to your PATH</a>
        to have the command available in your CLI.</p>
    <p>Create a new project from the command line:</p>
    <pre><code>activator new</code></pre>
    <p>Run an existing project from its directory:</p>
    <pre><code>activator run</code></pre>
    <p>Enter the interactive cli (in project directory):</p>
    <pre><code>activator</code></pre>
</article>
<hr/>
<article class="ui">
    <img src="@routes.Assets.versioned("images/download/ui.png")">
    <h3>Activator’s UI and tutorials</h3>
    <p>Activator comes with a user interface for learning Play. Launch the UI by double clicking the activator
        executable or using the following command in your terminal:</p>
    <pre><code>activator ui</code></pre>
    <p>A webpage will open in your browser, then follow the instructions to choose and open a tutorial.</p>
    <p>Read more about <a href="@controllers.documentation.ReverseRouter.latest(None, "Tutorials")">
        Activator Tutorials</a> for Play.</p>
</article>