@import models.github._
@import controllers.documentation.ReverseRouter
@(contributors: Contributors, title: String = "Code & contributors")(implicit req: RequestHeader, reverseRouter: ReverseRouter)

@avatar(url: String, size: Int) = @{
    val doubleSize = size * 2
    if (url.contains("?")) url + "&size=" + doubleSize else url + "?size=" + doubleSize
}

@renderContributors(contributors: Seq[GitHubUser], avatarSize: Int = 32, coreteam: Boolean = false) = {
    @for(contributor <- contributors) {
        <a href="@contributor.htmlUrl">
            <img src="@avatar(contributor.avatarUrl, avatarSize)" alt="@contributor.login" title="@contributor.name.getOrElse(contributor.login)" @{"class=coreteam".when(coreteam)} />
        </a>
    }
}

@main(title, "code"){
    <header id="top">
        <div class="wrapper">
            <h1>
                @title
            </h1>
        </div>
    </header>
    <section id="content">
        <article>
            <section>
                <h1>About the code</h1>

                <p>Play Framework is hosted on <a href="//github.com/playframework">GitHub</a> using the Git version control system. You can get the code with the following command:</p>
                <pre><code>git clone git://github.com/playframework/playframework.git</code></pre>
                <p>If you're looking for the code for the previous Play 1.x series, it's available in another repository:</p>
                <pre><code>git clone git://github.com/playframework/play.git</code></pre>
                <p>
                    To contribute, check out the <a href="@routes.Application.contributing()">contributor guide</a> and learn how to <a href="@reverseRouter.latest(None, "BuildingFromSource")">build Play from source</a>.
                </p>

                <h2>License</h2>
                <p>The Play Framework source code is released under the <a href="//www.apache.org/licenses/LICENSE-2.0.html">Apache 2 license</a>.</p>

                <div class="committers coreteam">
                    <h2>Integrators</h2>
                    @renderContributors(contributors.committers, 64, coreteam = true)
                </div>

                <div class="committers contributors">

                    <h3>Play organisation members</h3>
                    @renderContributors(contributors.playOrganisation)

                    <h3>Other contributors</h3>
                    @renderContributors(contributors.contributors)
                </div>

            </section>
        </article>
        <aside>
            @commonSidebar()
        </aside>
    </section>
}

