@(title: String = "Cookie Listing")(implicit requestHeader : RequestHeader)

@main(title, "cookieListing"){
    <header id="top">
        <div class="wrapper">
            <h1>
                @title
            </h1>
        </div>
    </header>
    <section id="content">
        <article>
            <h1>Your Privacy</h1>
            <p>When you visit any web site, it may store or retrieve information on your browser, mostly in the form of cookies. This information might be about you, your preferences or your device and is mostly used to make the site work as you expect it to. The information does not usually directly identify you, but it can give you a more personalised web experience.</p>
            <p>Because we respect your right to privacy, you <a class="optanon-toggle-display">can choose</a> not to allow some types of cookies. Below is a list of the cookies that get set on the playframework.com domain. Blocking some types of cookies may impact your experience of the site and the services we are able to offer.</p>
            <p><a class="optanon-toggle-display button">COOKIE SETTINGS</a></p>
            <br><hr><br>
            <h1>Cookie Listing</h1>
            <!-- OneTrust Cookies Policy start -->
            <div id="optanon-cookie-policy"></div>
            <!-- OneTrust Cookies Policy end -->

        </article>
        <aside>
            @commonSidebar()
        </aside>
    </section>
}
