@(downloads: PlayExamples)

@renderProject(project: ExampleProject) = {
<tr>
  <td><strong><a href="@project.downloadUrl" target="_blank">@project.displayName</a></strong></td>
  <td><a href="@project.downloadUrl" target="_blank">Download (zip)</a></td>
  <td><a href="@project.gitHubUrl" target="_blank">View on GitHub</a></td>
</tr>
}

<article class="starter">
  <h2 id="examples">Play Example Projects</h2>
  <h3>Want to see what Play can do? Download an example project!</h3>
</article>

<article class="example-projects">
  <p>
    Play has many features, so rather than pack them all into one project,
    we've organized many example projects that each showcase a feature or a use
    case so that you can see Play at work. You must have <code>sbt</code> installed to run these examples.
  </p>
  <p>
    After you have downloaded and unzipped a project, change into the top level project directory and enter <code>./sbt run</code> to run your project.
  </p>
  <p>
    <span style="font-weight: bold">Note:</span> These example projects are not configured for out of the box security. To start your own project and include security, use the <a href="#seeds">Seed templates</a>.
  </p>

  

  <table>
    @downloads.sections.map { case (version, section) =>
      <tbody>
      <tr><th><h3>Play @version Examples</h3></th></tr>
        <tr><th><h4>Java Projects</h4></th></tr>
        @section.examples.getOrElse("java", Seq.empty).map { (project) =>
          @renderProject(project)
        }

        <tr><th><h4>Scala Projects</h4></th></tr>
        @section.examples.getOrElse("scala", Seq.empty).map { (project) =>
          @renderProject(project)
        }
      </tbody>
    }
  </table>
</article>
