@import controllers.documentation.ReverseRouter
@(title: String = "Get involved")(implicit req: RequestHeader, reverseRouter: ReverseRouter)

@main(title, "getInvolved"){
    <header id="top">
        <div class="wrapper">
            <h1>
                @title
            </h1>
        </div>
    </header>
    <section id="content">
        <article>
            <h1>How you can help</h1>

            <p>
                Play is an open source project and everyone is encouraged to get involved! There are lots of ways you can contribute.
            </p>

            <div class="links">

                <h3 class="opencollective">Donate to our Open Collective</h3>
                <a href="//opencollective.com/playframework#section-contributors">35+ backers</a>
                <p>
                    Play uses <a href="//opencollective.com/playframework">Open Collective</a> to collect donations from sponsors. These funds are used to pay contributors and cover project costs, openly and transparently.
                    Individuals and companies alike can support Play financially by <a href="@routes.Application.sponsors">becoming backers or premium sponsors</a>.
                </p>

                <h3 class="mailing">Join the Discuss Play forum</h3>
                <p>
                    The <a href="//discuss.playframework.com"><span class="mailingList">Discuss Play Forum</span></a> is where the Play community meets. Asking and answering questions on the discuss forum is a great way to share knowledge about Play.
                </p>

                <h3 class="">Join the Discord chat</h3>
                <a href="//discord.com/channels/931647755942776882/932596128988405790">Discord server</a>
                <p>
                  Discord is a real time chat channel like IRC.  The <a href="//discord.com/channels/931647755942776882/931955815479402546">play-users</a> channel is used by Play users to discuss the ins and outs of writing great Play applications.
                </p>

                <h3 class="stackoverflow">Contribute to Stack Overflow</h3>
                <a href="//stackoverflow.com/questions/tagged/playframework">10,500+ questions</a>
                <p>
                    Stack Overflow is a Q&amp;A site for programmers. Stack Overflow has a very active community of people asking and answering <a href="//stackoverflow.com/questions/tagged/playframework">questions about Play</a>. Users can vote on each others' contributions and earn reputation points.
                </p>

                <h3 class="bugs">Report bugs</h3>
                <a href="//github.com/playframework/playframework/issues">950+ bug reporters</a>
                <p>
                    Bug reports help Play improve, so please report any issues you have! Play uses <a href="//github.com/playframework/playframework/issues">GitHub to track issues</a>. When you report bugs, make sure you include lots of detail, including reproducible tests, example code or anything else you think might help.
                </p>
                <p>
                    Even if you're not ready to fix issues yourself just yet, you can help out by verifying issues that have been reported by others. Look for issues tagged with the <a href="//github.com/playframework/playframework/issues?labels=needs-verification"><span class="issueLabel">needs-verification</span> label</a>. You can assist by looking at these issues and doing some checking to confirm whether they're bugs or not. You could provide reproducible tests or a sample project, or even just ask the original reporter for more information.
                </p>

                <h3 class="patch">Patch the core</h3>
                <a href="//github.com/playframework/playframework/graphs/contributors">600+ committers</a>
                <p>
                    Play's code and documentation is hosted on <a href="//github.com/playframework/playframework">GitHub</a>. It's easy to <a href="@reverseRouter.latest(None, "BuildingFromSource")">get the code and build Play from source</a>. Play development is discussed on the <a href="//groups.google.com/forum/#!forum/play-framework-dev"><span class="mailingList">play-framework-dev</span> mailing list</a>. You can ask on the list if you have any questions, or you can also chat to Play contributors through the <a href="//discord.com/channels/931647755942776882/931955762748616714">play-contributors</a> channel.
                </p>
                <p>
                    You're welcome to work on any feature you like&mdash;Play is open source after all!&mdash;but if you'd like some good ideas, look for issues tagged with the <a href="//github.com/playframework/playframework/issues?labels=community"><span class="issueLabel">community label</a>. These issues are ready and waiting for volunteers to pick them up.
                </p>
                <p>
                    To keep our code tidy and to make sure we work together smoothly there are some <a href="@routes.Application.contributing">Contributor Guidelines</a> that you'll need to make sure you follow.
                </p>

                <h3 class="modules">Create modules</h3>
                <p>
                    You can add new features to Play applications by creating a module. Writing new modules is often easier than patching Play's core code. You can learn about creating modules for <a href="@reverseRouter.latest(None, "ScalaPlayModules")">Scala</a> and <a href="@reverseRouter.latest(None, "JavaPlayModules")">Java</a>.
                </p>
            </div>

        </article>
        <aside>
            @commonSidebar()
        </aside>
    </section>
}
