@import controllers.documentation.ReverseRouter
@(examples: PlayExamples)(implicit requestHeader: RequestHeader, reverseRouter: ReverseRouter)

@renderBaseTech(version: String) = @{
  version match {
    case "2.9.x" => "Akka"
    case _ => "Pekko"
  }
}

@renderProject(version:String, project: ExampleProject) = {
    <tr>
        <td>@project.displayName.dropRight(9)</td>
        <td><a href="@project.gitHubUrl" target="_blank">View on GitHub</a></td>
        <td><a href="https://github.com/playframework/play-samples/archive/refs/heads/@{version}.zip">Download zip</a> <small>then unzip and<br><code>cd ./@{project.gitHubUrl.split("/").last}/</code></small></td>
    </tr>
}

@main("Getting Started with Play Framework", "getting-started") {
    <header id="top">
        <div class="wrapper">
            <h1>Getting Started with Play Framework</h1>
        </div>
    </header>
    <section id="content">
        <article>

            <div class="try-section">
                <h2>New to Play?</h2>
                <div class="try-option">
                    <h3><span>&raquo;</span> Learn whether Play Framework is right for your project</h3>
                    <div class="try-option-content">
                        <ul>
                            <li><a href="@reverseRouter.latest(None, "Introduction")" target="_blank">Introduction to Play</a></li>
                            <li><a href="@reverseRouter.latest(None, "Philosophy")" target="_blank">Our philosophy</a></li>
                            <li><a href="@reverseRouter.latest(None, "Requirements")" target="_blank">Requirements for using Play</a></li>
                        </ul>
                    </div>
                </div>
                <div class="try-option">
                    <h3><span>&raquo;</span> Try a Hello World Tutorial</h3>
                    <div class="try-option-content">
                        <p>The Play Java and Play Scala "Hello World" projects are self-contained tutorials that are part of the <a href="https://github.com/playframework/play-samples">play-samples repository</a>. To try a tutorial, you can either clone the repository and check out the respective branch or download its contents as a zip file:</p>
                        <table>
                            @examples.sections.map { case (version, section) =>
                            <tbody>
                                <tr><th colspan="3"><h4>Play @version Hello World Projects (Built on @{renderBaseTech(version)})</h4></th></tr>
                                @section.tutorials.getOrElse("java", Seq.empty).map { (project) =>
                                    @renderProject(version, project)
                                }
                                @section.tutorials.getOrElse("scala", Seq.empty).map { (project) =>
                                    @renderProject(version, project)
                                }
                            </tbody>
                            }
                        </table>
                        <blockquote>
                            <p>
                                Besides replacing Akka with Pekko, Play 3.0 is identical to Play 2.9. If you don't know what Akka or Pekko is, we recommend using Play 3.0. For more details on which version to use, read <a href="@reverseRouter.latest(None, "General#How-Play-Deals-with-Akkas-License-Change")" target="_blank">"How Play Deals with Akka’s License Change"</a>.
                            </p>
                        </blockquote>
                        <p>To run a tutorial follow the <code>README</code> file instructions in the respective folder. In short:</p>
                        <ol>
                            <li>Please check <a href="@reverseRouter.latest(None, "Requirements")" target="_blank">the requirements for using Play</a>: Java and sbt needs to be installed.</li>
                            <li>Clone or unzip the repo in a convenient location.</li>
                            <li>In a command window, change to the project directory of the desired tutorial.</li>
                            <li>Enter <code>sbt run</code>.</li>
                            <li>After the message <code>Server started, ...</code> displays, enter the following URL in a browser: <a href="http://localhost:9000">http://localhost:9000</a></li>
                            <li>The tutorial welcome page displays.</li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="try-section">
                <h2>Already know a bit about Play?</h2>
                <p>There are a variety of <a href="https://github.com/playframework/play-samples">Play example projects for Java and Scala</a> that focus on specific use cases. To run these sample projects, please check <a href="@reverseRouter.latest(None, "Requirements")" target="_blank">the requirements for using Play</a>: Java and sbt needs to be installed.</p>
                <p>If you are ready to start your own project and have sbt and Java installed, you can create a Play project from the command line.</p>

                <div class="try-option">
                    <h3><span>&raquo;</span> Create a new Play Java or Scala project using <code>sbt new</code></h3>
                    <div class="try-option-content">
                        <p>In a command window, enter the following:</p>
                        <pre>sbt new</pre>
                        <p>
                            In the interactive menu choose:
                            <ul>
                                <li><code>playframework/play-scala-seed.g8</code> for a Play Scala project</li>
                                <li><code>playframework/play-java-seed.g8</code> for a Play Java project</li>
                            </ul>
                        </p>
                        <p>
                            Then respond to the prompts. After the project got created:</p>
                        <ol>
                            <li>Change into the top level project directory.</li>
                            <li>Enter <code>sbt run</code> to download dependencies and start the system.</li>
                            <li>In a browser, enter <a href="http://localhost:9000">http://localhost:9000</a> to view the welcome page.</li>
                        </ol>

                        <h4>Using the Java seed template directly instead</h4>
                        <p>Enter:</p>
                        <pre>sbt new playframework/play-java-seed.g8</pre>
                        To create a Play Java 2.9 project:
                        <pre>sbt new playframework/play-java-seed.g8 --branch 2.9.x</pre>

                        <h4>Using the Scala seed template directly instead</h4>
                        <p>Enter:</p>
                        <pre>sbt new playframework/play-scala-seed.g8</pre>
                        To create a Play Scala 2.9 project:
                        <pre>sbt new playframework/play-scala-seed.g8 --branch 2.9.x</pre>

                        <blockquote>
                            <p>
                                Besides replacing Akka with Pekko, Play 3.0 is identical to Play 2.9. If you don't know what Akka or Pekko is, we recommend using Play 3.0. For more details on which version to use, read <a href="@reverseRouter.latest(None, "General#How-Play-Deals-with-Akkas-License-Change")" target="_blank">"How Play Deals with Akka’s License Change"</a>.
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>

        </article>
        <aside>
            @commonSidebar()
        </aside>
    </section>
}
