@(title: String = "Try Play")(implicit requestHeader: RequestHeader)

@main(title, "getting-started") {
    <header id="top">
        <div class="wrapper">
            <h1>It's quick and easy to get started</h1>
        </div>
    </header>
    <section id="content">
        <article>
            <h2>What would you like to do?</h2>
            <p>To learn about Play hands-on, try the examples as described below. When you are ready to build your own app, use a <a href="@controllers.documentation.ReverseRouter.latest(None, "NewApplication")">seed template</a> that sets up the project structure and dev environment for you. You can easily integrate Play projects into your <a href="@controllers.documentation.ReverseRouter.latest(None, "IDE")">favorite IDE</a>. </p>

            <hr />

            <h3>Downloading and building examples</h3>
            <p>Lightbend <a href="https://developer.lightbend.com/start/?group=play" target="_blank">Tech Hub</a> offers a variety of Play examples for Java and Scala. We recommend trying the Play Starter Example first.</p> 
            <p>The downloadable zip files include everything you need to build and run the examples, including a distribution of the Simple Build Tool <a href="https://www.scala-sbt.org/index.html" target="_blank"><code>sbt</code></a>. If you have Gradle, you can use it as a build tool instead. </p>

            <p>After choosing an example from <a href="https://developer.lightbend.com/start/?group=play" target="_blank">Tech Hub</a> follow these steps:</p>
            <ol>
                <li>Click CREATE A PROJECT FOR ME to download the zipped project.</li>
                <li>Unzip the project in a convenient location.</li>
                <li>In a command window, navigate to the top level project directory.</li>
                <li>Enter one of the following commands:
                    <ul>
                        <li>On OSx or Linux systems: <code>./sbt run</code> or <code>./gradle runPlayBinary</code></li>
                        <li>On Windows systems: <code>sbt.bat run</code> or <code>gradlew.bat runPlayBinary</code></li>
                    </ul>
                    <p>The build tool downloads dependencies and compiles the project.</p>
                </li>
                <li>
                    After the build finishes, enter the following URL in a browser to view the app:
                    <p><a href="http://localhost:9000"><code>http://localhost:9000/</code></a></p>
                </li>
            </ol>
            <p>Check out the readme file in the top level project directory to learn more about the example.</p>
        </article>
        <aside>
            @commonSidebar()
        </aside>
    </section>
}
