@(examples: PlayExamples)(implicit requestHeader: RequestHeader)


@renderProject(project: ExampleProject) = {
    <tr>
        <td><a href="@project.downloadUrl" target="_blank">@project.displayName</a></td>
        <td><a href="@project.downloadUrl" target="_blank">Download (zip)</a></td>
        <td><a href="@project.gitHubUrl" target="_blank">View on GitHub</a></td>
    </tr>
}

@main("Getting Started with Play Framework", "getting-started") {
    <header id="top">
        <div class="wrapper">
            <h1>Getting Started with Play Framework</h1>
        </div>
    </header>
    <section id="content">
        <article>

            <div class="try-section">
                <h2>New to Play?</h2>
                <div class="try-option">
                    <h3><span>&raquo;</span> Learn whether Play Framework is right for your project</h3>
                    <div class="try-option-content">
                        <ul>
                            <li><a href="@controllers.documentation.ReverseRouter.latest(None, "Introduction")" target="_blank">Introduction to Play</a></li>
                            <li><a href="@controllers.documentation.ReverseRouter.latest(None, "Philosophy")" target="_blank">Our philosophy</a></li>
                            <li><a href="@controllers.documentation.ReverseRouter.latest(None, "Requirements")" target="_blank">Requirements for using Play</a></li>
                        </ul>
                    </div>
                </div>
                <div class="try-option">
                    <h3><span>&raquo;</span> Try the Hello World Tutorial</h3>
                    <div class="try-option-content">
                        <p>The Java and Scala Hello World projects are self-contained tutorials that include a distribution of the sbt build tool.</p>
                        <p>Play requires Java 8 or higher. Check your version with the <code>java -version</code> command and if needed, install it from <a href="//www.oracle.com/technetwork/java/javase/downloads/index.html" rel="noopener">Oracle's site</a>.</p>
                        <p>To try the tutorial, first download the Java or Scala project:</p>
                            <table>
                            @examples.sections.map { case (version, section) =>
                            <tbody>
                                <tr><th><h4>Play @version Hello World Projects</h4></th></tr>
                                @section.tutorials.getOrElse("java", Seq.empty).map { (project) =>
                                    @renderProject(project)
                                }
                                @section.tutorials.getOrElse("scala", Seq.empty).map { (project) =>
                                    @renderProject(project)
                                }
                            </tbody>
                            }
                        </table>
                        <p>To run the tutorial:</p>
                        <ol>   
                        <li>Unzip the project in a convenient location.</li>
                        <li>In a command window, change to the top-level project directory.</li>
                        <li>Enter <code>sbt run</code>.</li>
                        <li>After the message <code>Server started, ...</code> displays, enter the following URL in a browser: <http://localhost:9000>
                        <p>The tutorial welcome page displays.</p></li>
                        <ol>
                    </div>
                </div>
            </div>

            <div class="try-section">
                <h2>Already know a bit about Play?</h2>
                <p>Lightbend Tech Hub offers a variety of Play example projects for Java and Scala that are focused on a particular use case. The downloadable zip files include everything you need, including <a href="//www.scala-sbt.org/index.html">sbt</a>, Play Framework, and an HTTP server. The examples also support <a href="//docs.gradle.org/current/userguide/play_plugin.html">Gradle</a>.</p>
                <p>If you are ready to start your own project and have sbt installed, you can create a Play project from the command line.</p>
                <div class="try-option">
                    <h3><span>&raquo;</span> Try a focused example</h3>
                    <div class="try-option-content">
                        <p>Follow these steps to try an example project:</p>
                        <ol>
                            <li>Check that your Java version is 8 or higher with the <code>java -version</code> command and if needed, install it from <a href="//www.oracle.com/technetwork/java/javase/downloads/index.html" rel="noopener">Oracle's site</a>.
                            <li>Choose an example from <a href="https://developer.lightbend.com/start/?group=play">Lightbend's Tech Hub</a>.</li>
                            <li>Click "CREATE A PROJECT FOR ME" to download the zipped project.</li>
                            <li>Unzip the project in a convenient location.</li>
                            <li>In a command window, navigate to the top level project directory.</li>
                            <li>Enter one of the following commands:
                                <ul>
                                    <li>On macOS or Linux systems: <code>./sbt run</code> or <code>./gradlew runPlayBinary</code></li>
                                    <li>On Windows systems: <code>sbt.bat run</code> or <code>gradlew.bat runPlayBinary</code></li>
                                </ul>
                            </li>
                            <li>The build tool downloads dependencies and compiles the project.</li>
                            <li>After the build finishes, enter the following URL in a browser to view the app: <a href="http://localhost:9000/">http://localhost:9000/</a></li>

                        </ol>
                        <p>Check out the <code>README.md</code> file in the top level project directory to learn more about the example.</p>
                    </div>
                </div>

                <div class="try-option">
                    <h3><span>&raquo;</span> Create a Play Java or Scala project using <code>sbt new</code></h3>
                    <div class="try-option-content">
                        <p>In a command window, enter one of the following and respond to the prompts to create a new project:</p>

                        <h4>Java seed template</h4>
                        <pre>sbt new playframework/play-java-seed.g8</pre>

                        <h4>Scala seed template</h4>
                        <pre>sbt new playframework/play-scala-seed.g8</pre>

                        <p>After the template creates the project:</p>
                        <ol>
                            <li>In a command window, change into the top level project directory</li>
                            <li>Enter <code>sbt run</code> to download dependencies and start the system.</li>
                            <li>In a browser, enter <a href="http://localhost:9000">http://localhost:9000</a> to view the welcome page.</li>
                        </ol>
                    </div>
                </div>
            </div>

        </article>
        <aside>
            @commonSidebar()
        </aside>
    </section>
}
