<div id="lightbend-banner" class="lightbend-banner play full-width" data-category="OSS Lightbend Banner Impression" data-label="Play Banner Impression">
	<div class="oss-wrapper">
		<div class="oss-brand">
			<a class="oss-track-link-label" data-category="OSS Lightbend Banner Clicks" data-label="Lightbend Logo - Play Banner" href="https://www.lightbend.com">
				<img class="lightbend-logo" src='@routes.Assets.versioned("images/banner-logos/lightbend-reverse.svg")' alt="Lightbend" title="Lightbend">
			</a>
		</div>
		<div class="oss-ad no-drop-down">
			<nav class="lightbend-rotator">
				<a class="oss-track-link-label visible" data-category="OSS Lightbend Banner Clicks" data-label="Promo Rotator - Free Trial - Try Akka Serverless for stateful web services. [Try Now] - Play Banner" href="https://www.lightbend.com/akka-serverless">
					<strong>Free Trial</strong> - Try Akka Serverless for stateful web services.<span class="play-btn">Try Now</span>
				</a>
			</nav>
		</div>
	</div>
</div>