 @(title: String, scope: String = "home")(content: Html)(implicit requestHeader : RequestHeader)
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>@title</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,maximum-scale=1"/>
        <style type="text/css">
        @@import "@routes.Assets.versioned("lib/prettify/prettify.css")";
        </style>
        <link href="//fonts.googleapis.com/css?family=PT+Serif:700italic" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/1/docsearch.min.css">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/main.min.css")">
        <link rel="shortcut icon" href="/favicon.ico"/>
        <link rel="apple-touch-icon apple-touch-icon-precomposed" href="/apple-touch-icon.png">

        <meta name="globalsign-domain-verification" content="wISFsU3SjLaCmI4hF3fuBebFOs4shuuBnKV7fGALYz" />
        <meta name="google-site-verification" content="9oxXjOc4jWfnf21Iep-0dc2sDawa14s-Gpwho_yb5AU" />

        <!-- OneTrust Cookies Consent Notice (Staging, playframework.com, en-GB) start -->
        <script src="https://optanon.blob.core.windows.net/consent/cf9a6823-fec0-455d-b6c6-5f386804e808-test.js" type="text/javascript" charset="UTF-8"></script>
        <script type="text/javascript">
            function OptanonWrapper() {
                //one trust inserts here
            }
        </script>
        <!-- OneTrust Cookies Consent Notice (Staging, playframework.com, en-GB) end -->

        <!--[if lt IE 9]>
        <script src="@routes.Assets.versioned("lib/html5shiv/html5shiv.js")"></script>
        <![endif]-->
        <script src="@routes.Assets.versioned("lib/jquery/jquery.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/main.js")"></script>
        <script type="application/ld+json">
        {
          "@@context" : "http://schema.org",
          "@@type" : "WebSite",
          "name" : "Play Framework",
          "alternateName" : "The High Velocity Web Framework for Java and Scala",
          "url" : "https://playframework.com"
        }
        </script>
    </head>
    <body class="@scope">
        <!--[if lt IE 7]>
            <p class="outdated">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="//www.google.com/chrome/browser/">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <header id="navigation">
            <div class="wrapper">
                <a href="/" id="logo">Lightbend</a>
                <nav id="sections">
                    <a href="@routes.Application.gettingStarted()">Try Play</a>
                    <a href="@controllers.documentation.ReverseRouter.index(None)">Documentation</a>
                    <a href="@routes.Application.support()">Support</a>
                    <a href="@routes.Application.getInvolved()">Get Involved</a>
                    <a href="//blog.playframework.com/">Blog</a>
                </nav>
                <nav id="social">
                    <a href="//discuss.playframework.com"><span>Discuss Play Forum</span></a>
                    <a href="//twitter.com/playframework"><span>Twitter</span></a>
                    <a href="//plus.google.com/106233335814246022600"><span>Google+</span></a>
                    <a href="//www.facebook.com/pages/Play-Framework/50884087887"><span>Facebook</span></a>
                    <a href="//github.com/playframework/playframework"><span>Github</span></a>
                    <a href="//stackoverflow.com/questions/tagged/playframework"><span>Stackoverflow</span></a>
                </nav>
            </div>
        </header>

        <div id="getLogo">
            <div class="pan">
                <q>Is that what you're looking for?</q>
                <figure>
                    <img src="/assets/images/logos/play_full_color.svg">
                     <figcaption>
                        <a href="/assets/images/logos/play_full_color.svg">(svg)</a>
                        <a href="/assets/images/logos/play_full_color.png">(png)</a>
                     </figcaption>
                </figure>
                <figure>
                    <img src="/assets/images/logos/play_icon_full_color.svg">
                     <figcaption>
                        <a href="/assets/images/logos/play_icon_full_color.svg">(svg)</a>
                        <a href="/assets/images/logos/play_icon_full_color.png">(png)</a>
                     </figcaption>
                </figure>
                <figure class="reverse">
                    <img src="/assets/images/logos/play_reverse.svg">
                     <figcaption>
                        <a href="/assets/images/logos/play_reverse.svg">(svg)</a>
                        <a href="/assets/images/logos/play_reverse.png">(png)</a>
                     </figcaption>
                </figure>
                <figure class="reverse">
                    <img src="/assets/images/logos/play_icon_reverse.svg">
                     <figcaption>
                        <a href="/assets/images/logos/play_icon_reverse.svg">(svg)</a>
                        <a href="/assets/images/logos/play_icon_reverse.png">(png)</a>
                     </figcaption>
                </figure>
            </div>
        </div>


@*
        @if(requestHeader.session.data.get("github")) {
            welcome, @requestHeader.session.data("github")
            <img src="@requestHeader.session.data("github_avatar")"></img>
        } else {
          <a href="https://github.com/login/oauth/authorize?client_id=@models.Github.clientId&scope=repo,user">login via Github</a>
        }
*@

        @content

        <footer>
            <div id="support">
                <article class="community">
                    <h3>Community support</h3>
                    <ul>
                        <li><a href="//discuss.playframework.com">Discuss Play Forum</a></li>
                        <li><a href="//stackoverflow.com/questions/tagged/playframework">Stackoverflow</a></li>
                    </ul>
                </article>
                <article class="professional">
                    <h3>Professional support</h3>
                    <ul>
                        <li><a href="//www.lightbend.com/services/expert-support">Lightbend Subscription</a></li>
                        <li><a href="//www.lightbend.com/services/training">Training</a></li>
                        <li><a href="//www.lightbend.com/services/consulting">Consulting</a></li>
                    </ul>
                </article>
            </div>
            <div class="wrapper">
                <div>
                    <h3>Play Framework</h3>
                    <ul>
                        <li><a href="@routes.Application.download()">Try Play</a></li>
                        <li><a href="@controllers.documentation.ReverseRouter.latest(None, "Tutorials")">Tutorials</a></li>
                        <li><a href="@controllers.documentation.ReverseRouter.index(None)">Documentation</a></li>
                    </ul>
                </div>
                <div>
                    <h3>Community links</h3>
                    <ul>
                        <li><a href="//www.eventbrite.com/directory/?q=play+framework&loc=Worldwide">Events <em>via Eventbrite</em></a></li>
                        <li><a href="http://www.indeed.com/jobs?q=%22play+framework%22&l=">Jobs <em>via Indeed</em></a></li>
                        <li><a href="http://www.scoop.it/playframework">Blogs <em>via Scoop.it</em></a></li>
                    </ul>
                </div>
                <div>
                    <h3>Code &amp; contribution</h3>
                    <ul>
                        <li><a href="@routes.Code.index()">Code &amp; contributors</a></li>
                        <li><a href="//github.com/playframework/playframework/issues">Bug tracker <em>GitHub</em></a></li>
                        <li><a href="@routes.Application.getInvolved()">Get involved</a></li>
                    </ul>
                </div>
                <div>
                    <h3>Social networks</h3>
                    <ul>
                        <li><a href="//twitter.com/playframework"><span>Twitter</span></a></li>
                        <li><a href="//plus.google.com/106233335814246022600"><span>Google+</span></a></li>
                        <li><a href="//www.facebook.com/pages/Play-Framework/50884087887"><span>Facebook</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="credits">
                <a href="/" class="logo"><img src="/assets/images/logos/play_reverse.svg"></a>
                <a href="//lightbend.com" class="partner"><img src="/assets/images/logos/lightbend-reverse.svg"></a>
                <a href="http://zengularity.com" class="partner"><img src="/assets/images/logos/zengularity.png"></a>
                <p>
                    Play Framework is released under the Apache 2 License
                </p>
            </div>
            <div class="lb-legal">
                <p>
                    &copy; Lightbend 2018 | 
                    <a href="https://www.lightbend.com/legal/licenses" target="_blank">Licenses</a> | 
                    <a href="https://www.lightbend.com/legal/terms" target="_blank">Terms</a> | 
                    <a href="https://www.lightbend.com/legal/privacy" target="_blank">Privacy Policy</a> | 
                    <a href="@routes.Application.cookie()">Cookie Listing</a> | 
                    <a class="optanon-toggle-display">Cookie Settings</a>
                </p>
            </div>

        </footer>

        <a href="http://www.reactivemanifesto.org/" id="reactive_ribbon"><img style="border: 0; position: fixed; right: 0; top:0; z-index: 9000" src="//d379ifj7s9wntv.cloudfront.net/reactivemanifesto/images/ribbons/we-are-reactive-black-right.png"></a>

        <script type="text/plain" class="optanon-category-2">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-37989507-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-23127719-1', 'lightbend.com', {'allowLinker': true, 'name': 'tsTracker'});
            ga('require', 'linker');
            ga('linker:autoLink', ['lightbend.com','playframework.com','scala-lang.org','scaladays.org','spray.io','akka.io','scala-sbt.org','scala-ide.org']);
            ga('tsTracker.send', 'pageview');
        </script>


        <script type="text/plain" class="optanon-category-3">
        (function() {
          var didInit = false;
          function initMunchkin() {
            if(didInit === false) {
              didInit = true;
              Munchkin.init('558-NCX-702');
            }
          }
          var s = document.createElement('script');
          s.type = 'text/javascript';
          s.async = true;
          s.src = '//munchkin.marketo.net/munchkin.js';
          s.onreadystatechange = function() {
            if (this.readyState == 'complete' || this.readyState == 'loaded') {
              initMunchkin();
            }
          };
          s.onload = initMunchkin;
          document.getElementsByTagName('head')[0].appendChild(s);
        })();
        </script>
    </body>
</html>
