@(title: String = "Play Framework - Build Modern & Scalable Web Apps with Java and Scala")(implicit requestHeader : RequestHeader)

@main(title, "notfound") {
    <header id="top">
        <div class="wrapper">
            <h1>
            Not Found
            </h1>
        </div>
    </header>
    <section id="content" style="min-height: inherit; z-index: auto;">
        <article>
            <br/>
            <h2>We're sorry, your request could not be completed as dialed.  Please check the URL and try your request again.</h2>
        </article>
    </section>
}

