@import controllers.documentation.ReverseRouter
@(title: String = "Play Framework - Build Modern & Scalable Web Apps with Java and Scala")(using req: RequestHeader, reverseRouter: ReverseRouter)

@main(title, "notfound") {
    <header id="top">
        <div class="wrapper">
            <h1>
            Not Found
            </h1>
        </div>
    </header>
    <section id="content" class="not-found-content">
        <article>
            <br/>
            <h2>We're sorry, your request could not be completed as dialed.  Please check the URL and try your request again.</h2>
        </article>
    </section>
}

