@(downloads: PlayExamples)

<article class="starter">
  <h2 id="seeds">Play Seed Templates</h2>
  <h3>Experienced With Play? Use a Seed Template!</h3>
</article>

<hr />

<article class="seed-projects">
  <p>
    If you already know a bit about Play and have <a href="http://scala-sbt.org">sbt 0.13.13 or higher</a>
    installed, you can create your own Play project using the <code>sbt new</code> command with
   a giter8 
    template. The <a href="http://foundweekends.org/giter8">giter8</a> templates are similar to Maven archetypes. We also provide a zipped version of the seed projects that you can download below.</p> 
    
    <p>You can also create your own giter8 seeds and scaffolds based off ours by forking from the <a href="https://github.com/playframework/play-java-seed.g8">https://github.com/playframework/play-java-seed.g8</a> or <a href="https://github.com/playframework/play-scala-seed.g8">https://github.com/playframework/play-scala-seed.g8</a> github projects. 
  </p>

  <p>
   Note that the seed templates are already configured with CSRF and security headers filters, whereas the other example projects are not specifically set up for security out of the box.
  </p>
  
  <p>
    Use <code>sbt run</code> and then go to <a href="http://localhost:9000">http://localhost:9000</a>
    to see the running server.
  </p>

  @downloads.sections.headOption.toIterable.flatMap(_._2.seeds.values.flatten.filter(_.gitHubRepo.endsWith(".g8"))).map { project: ExampleProject =>
    <div class="seed-project">
      <h4>@project.displayName</h4>
      <p>In a command window enter the following and you will be prompted for project properties:
      <pre><code>sbt new @project.gitHubRepo</code></pre>

      <p>Or, download a zipped seed project. You have the option to change the project name:</p>
      <form class="template-form" target="_blank" method="get" action="@project.downloadUrl">
        @project.params.map { param =>
          <label class="template-param">@param.displayName:
            <input
                type="@{param.`type`}"
                name="@param.query"
                @param.defaultValue.map { v => value="@v" }
                @param.pattern.map {p => pattern="@p" }
                @if(param.required) { required }
            >
          </label>
        }
        <label class="template-param">
          <input type="submit" value="Download Zip">
        </label>
      </form>
    </div>
  }
  <p>
 When you have the seed project, change into the top level directory and build it with the <code>sbt run</code> command. If you will be using forms in your project, enter <code>g8Scaffold form</code>
    from sbt to create the scaffold controller, template and tests needed to process a form. Enter the following URL in a browser
    to view the running application: <a href="http://localhost:9000">http://localhost:9000</a>
  </p>
</article>
