@()

<article class="starter">
  <h2 id="seeds">Play Seed Templates</h2>
  <h3>Experienced With Play?  Use a Seed Template!</h3>
</article>

<hr />

<article class="seed-projects">
  <p>
    If you have <a href="http://scala-sbt.org">sbt 0.13.13 or higher</a>
    installed, you can create your own Play project using <code>sbt new</code>
    using a minimal <a href="http://foundweekends.org/giter8">giter8</a>
    template (roughly like a maven archetype).  
  </p>

  <p>
    This is a good choice if you already know Play and want to create a new project immediately.  
  </p>

  <p>
   Note that seeds are already configured with CSRF and security headers filters, whereas the other projects are not specifically set up for security out of the box.
  </p>

  <p>
    Use <code>sbt run</code> and then go to <a href="http://localhost:9000">http://localhost:9000</a>
    to see the running server.
  </p>

  <p>
    Type <code>g8Scaffold form</code>
    from sbt to create the scaffold controller, template and tests needed to process a form. You can also create your own giter8 seeds and scaffolds based off this one by forking from https://github.com/playframework/play-java-seed.g8 or https://github.com/playframework/play-scala-seed.g8  
  </p>

  <h4>Play Java Seed</h4>
  <pre><code>sbt new playframework/play-java-seed.g8</code></pre>

  <h4>Play Scala Seed</h4>
  <pre><code>sbt new playframework/play-scala-seed.g8</code></pre>
</article>
