@(downloads: PlayExamples)

@renderProject(project: ExampleProject) = {
<tr>
  <td><strong><a href="@project.downloadUrl" target="_blank">@project.displayName</a></strong></td>
  <td><a href="@project.downloadUrl" target="_blank">Download (zip)</a></td>
  <td><a href="@project.gitHubUrl" target="_blank">View on GitHub</a></td>
</tr>
}

<article class="starter">
  <h2 id="starters">Play Starter Projects</h2>
  <h3>New to Play? See the starter projects!</h3>
</article>

<article class="starter-projects">
  <p>
    If you've never used Play before, download a starter project.
    The starter projects have lots of comments explaining how everything works and have links to documentation that goes more in depth.
  </p>

  <p>
    If you download and unzip the .zip file below, you'll see the <code>sbt</code> file -- this is a packaged version of <a href="http://scala-sbt.org">sbt</a>, the build tool that Play uses.
  </p>

  <p>Type the following at the prompt and it will run the starter project:</a>

  <pre><code>./sbt run</code></pre>

  <p>
    If you type <code>./sbt</code> by itself, then you can run it in <a href="http://www.scala-sbt.org/1.0/docs/Howto-Interactive-Mode.html">interactive mode</a> -- see <a href="https://www.playframework.com/documentation/latest/PlayConsole">Using the Play Console</a> for more detail of how to run Play and the <a href="http://www.scala-sbt.org/1.0/docs">sbt documentation</a> for more about SBT.
  </p>

  <p>
    Please see the <a href="https://playframework.com/documentation/latest/Home">documentation</a>, chat with the <a href="https://playframework.com/get-involved">community</a>, and check out the <a href="https://playframework.com/documentation/latest/Tutorials">tutorials</a> for more examples and blog posts!
  </p>

  <table>
    @downloads.sections.map { case (version, section) =>
      <thead>
        <tr><th><h4>Play @version Starter Projects</h4></th></tr>
      </thead>
      <tbody>
        @section.starters.getOrElse("java", Seq.empty).map { (project) =>
          @renderProject(project)
        }
        @section.starters.getOrElse("scala", Seq.empty).map { (project) =>
          @renderProject(project)
        }
      </tbody>
    }
  </table>
</article>
