@(downloads: PlayExamples)

@renderProject(project: ExampleProject) = {
<tr>
  <td><strong><a href="@project.downloadUrl" target="_blank">@project.displayName</a></strong></td>
  <td><a href="@project.downloadUrl" target="_blank">Download (zip)</a></td>
  <td><a href="@project.gitHubUrl" target="_blank">View on GitHub</a></td>
</tr>
}

<article class="starter">
  <h2 id="starters">Play Starter Projects</h2>
  <h3>New to Play? Start here!</h3>
</article>

<article class="starter-projects">
  <p>
    Play starter projects include a packaged version of <code>sbt</code>, a build tool that works well with Play. The source code includes comments describing how the example works with links to related documentation.  
  </p>
  <p>To try a starter project:</p>
  
  <ul><li>Use the link to download the zipped project</li>
    <li>Extract the zipped project.</li>
    <li>In a command window, change to the top project directory.</li>
    <li>Enter the following at the prompt to build and run the starter project:
   <pre><code>./sbt run</code></pre> </li>
   <li>Enter the following URL in a browser:
     <pre><code>http://localhost:9000</code></pre>
   <p>A welcome page displays with information about the example app.</li>
 </ul>
 
  <table>
    @downloads.sections.map { case (version, section) =>
      <tbody>
        <tr><th><h4>Play @version Starter Projects</h4></th></tr>
        @section.starters.getOrElse("java", Seq.empty).map { (project) =>
          @renderProject(project)
        }
        @section.starters.getOrElse("scala", Seq.empty).map { (project) =>
          @renderProject(project)
        }
      </tbody>
    }
  </table>
  


<!--  <p>
    If you type <code>./sbt</code> by itself, then you can run it in <a href="http://www.scala-sbt.org/1.0/docs/Howto-Interactive-Mode.html">interactive mode</a> -- see <a href="https://www.playframework.com/documentation/latest/PlayConsole">Using the Play Console</a> for more detail of how to run Play and the <a href="http://www.scala-sbt.org/1.0/docs">sbt documentation</a> for more about SBT.
  </p> 

  <p>
    <a href="http://scala-sbt.org" target="_blank">Learn more about <code>sbt</code></a>. Please see the <a href="https://playframework.com/documentation/latest/Home">documentation</a>, chat with the <a href="https://playframework.com/get-involved">community</a>, and check out the <a href="https://playframework.com/documentation/latest/Tutorials">tutorials</a> for more examples and blog posts!
  </p>-->

  
</article>
