@(title: String = "Support")(implicit requestHeader : RequestHeader)

@main(title, "support"){
    <header id="top">
        <div class="wrapper">
            <h1>
                @title
            </h1>
        </div>
    </header>
    <section id="content">
        <article>
            <section>
                <h1>Community support</h1>
                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                <ul>
                    <li><a href="#">Mailing list (Google group)</a></li>
                    <li><a href="#">Stackoverflow</a></li>
                </ul>
            </section>
            <section>
                <h1>Professional support</h1>
                <p>Fusce pharetra nisi ac dolor ultricies sollicitudin. Nullam leo libero, faucibus eu fermentum nec, cursus a mauris.</p>
                <ul>
                    <li><a href="#">Lightbend Subscription</a></li>
                    <li><a href="#">Training</a></li>
                    <li><a href="#">Consulting</a></li>
                </ul>
            </section>
        </article>
    </section>
}
