@(news: Seq[Html])

@if(news.nonEmpty) {
    <ul>
    @news.map { body =>
        <li>@body</li>
    }
    </ul>
}

<style type="text/css">
* { margin: 0; padding: 0; }
body{font:15px "Helvetica Nueue",sans-serif;}
a{color:#80c846;}a:hover{color:#6dae38;}
ul, li { list-style-type: none; }
ul{color:#999;font-size:17px;position:relative;z-index:2;padding: 0;}
ul{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;background:url(/assets/images/news.png) 10px center no-repeat;padding:19px 0 19px 60px;}
</style>
<script>
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-37989507-1']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
