.certification
  @extend .content-column
  article
    color: black

    form
      dl
        margin: 10px

        label
          display: block
          float: left
          min-width: 100px

        textarea
          display: block
          clear: both
          width: 400px
          height: 200px

        input
          width: 300px

        .info
          display: none

  aside
    h2
      font-size: 20px
      text-align: center
      padding-top: 20px
      margin-bottom: 20px

    blockquote
      font-style: italic
      background: none
      padding-top: 20px
      padding-bottom: 20px
      margin-top: -1px
      margin-bottom: 0

      border-top: 1px solid #ddd
      border-bottom: 1px solid #ddd

      .attribution
        text-align: right
