.code
  @extends .content-column

  .coreteam
    h2
      clear: both
      padding-top: 20px
    a
      &:after
        content: none
        display: none
      img
        height: 64px
        display: block
        float: left

  .contributors
    h3
      clear: both
      padding-top: 20px
    a
      &:after
        content: none
        display: none
      img
        height: 32px
        display: block
        float: left