.cookieListing
    @extend .content-column
    .button
        height: auto
        button: green
        width: auto
        display: inline-block
        &:hover
            text: no-underline
            cursor: pointer