toolbar-height=120px
content-gap=40px

hr.clear
    clear: both
    visibility: hidden

.documentation
    &, article
        color: #333

    #top
        padding: content-gap 0 100px

    #content
        position: relative
        margin-top: -60px
        padding: 1px 0 0
        background: #fff image("layout/right-fake-column.png") right top repeat-y
        background-size: 300px 1px
        retina("layout/right-fake-column.png", 300px 1px)
        &:before
            left: -23px
            right: -23px

        article
            width: auto
            margin-right: 300px
            padding: 0
            background: white
            border-right: 1px solid sand

            #search
                input:focus
                    outline-color: green;

            // Align content, limit content width
            p, li, table
                max-width: 840px

            > *
                padding-left: content-gap
                padding-right: content-gap

            h1
                margin: 30px 0

            h2
                padding-top: 1em
                border-top: 1px solid sand

            pre
                background: #f7f7f7
                border: none
                code
                    background: none

            sup
                font-size: x-small
                vertical-align: top

            li > p:first-child
                margin-top: 0

            li > p:last-child
                margin-bottom: 0

            // Tabbed code snippets
            dl
                dt
                    font-weight:bold

            dl.tabbed
                position:relative

                dt
                    float: left
                    margin: 0 5px 0 0
                    border: 1px solid #ddd
                    line-height: 2
                    border-radius: 5px 5px 0 0

                    a
                        display: block
                        padding: 0 20px
                        height: 30px
                        color: #333
                        text-decoration: none

                dt.current
                    background: #f7f7f7
                    position: relative
                    top: 0px
                    z-index: 1
                    border-bottom: none

                dd
                    position: absolute
                    width: 100%
                    left: 0
                    top: 30px
                    padding-left: content-gap
                    padding-right: content-gap

                    pre
                        margin-top: 0
                        border: 1px solid #ddd
                        border-radius: 0 5px 5px 5px
                        padding: 10px



            table
                border: 1px solid #ddd
                border-collapse: collapse

                th
                    font-weight: bold

                tr
                    background-color: #fff
                    border-top: 1px solid #ddd

                tr:nth-child(2n)
                    background-color: #f8f8f8

                th, td
                    border: 1px solid #ddd
                    padding: 6px 13px

    aside
        float: right
        width: 300px
        padding: 0 content-gap

#breadcrumb
    font-size: 10px
    list-style: none

    li:first-child:before
        content: ""

    li
        padding: 6px 0 4px 10px // override 20px left padding
        width: 50px;
        white-space: nowrap;
        display: inline;
        text-overflow: ellipsis;

        + li:before
            font-size: 10px // make sure content arrow is same size
            content: "►"

      a:after // no links in breadcrumbs
        content: none
        background: none

#version-header
    padding: 10px 0 0
    color: #999
    text: title

#toolbar
    line-height: 20px
    padding: 20px 0 0
    color: #999
    text: title bold
    white-space: nowrap
    clear: after
    h3
        float: left
        clear: both
        padding: 0
        font-size: 16px

    div
        float: right
        font-size: 0 // remove white space

    h3, div
        margin: 5px 0
        vertical-align: bottom

    a, dl
        display: inline-block
        padding: 0 5px
        background: #eee
        color: #999
        font-size: 15px
        cursor: pointer
        box-shadow: inset 0 0 1px rgba(#000, .4)
        &:first-child
            border-radius: 2px 0 0 2px
        &:last-child
            border-radius: 0 2px 2px 0
        &.active, &:hover
            background: green
            color: #fff

    .switch > a
        max-width: 90px

    .dropdown
        display: inline-block
        position: relative
        padding: 0
        dt
            padding: 0 5px
        dd
            display: none
            absolute: top 100% right 0
            z-index: 999
            border: none
            box-shadow: 0 2px 5px rgba(#000, .3)
            a
                display: block
                padding: 0 10px
                background: white
                color: green-text
                border-bottom: 1px solid sand
                border-radius: 0
                font-size: 15px
                box-shadow: none
                &:hover
                    background: green
                    color: white
        &.open
            dd
                display: block
            dt:before
                content: " "
                position: fixed
                top: 0
                left: 0
                right: 0
                bottom: 0
                z-index: 99

#extend
    display: none

@media only screen and (min-width: 960px)
    .documentation
        &.flex
            #content, .wrapper
                width: 90% !important

        #content, .wrapper
            max-width: 1500px
            margin-left: 0 auto

        &.animate
            #content, .wrapper
                transition: width 100ms ease-in-out

        #content.plus
            width: 1000px

        #content
            article
                #search
                    margin: 10px 0

                    .algolia-autocomplete // added in JS
                        width: 100%

                    input
                        width: 100%
                        height: 40px
                        font-size: 22px !important
                        padding: 10px 10px 10px 10px
                        border: 1px solid green

                    select
                        width: 60px

                    button
                        position: absolute
                        top: -500px

        #extend
            display: block
            box: 20px 20px
            absolute: top 0 right 0
            border: 0
            opacity: .2
            background: image("layout/extend.png") top right no-repeat, image("layout/extend.png") bottom left no-repeat
            z-index: 99
            transition: all 100ms ease-in-out
            color: transparent
            overflow: hidden
            cursor: pointer
            @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2),only screen and (min-device-pixel-ratio: 2),only screen and (min-resolution: 192dpi),only screen and (min-resolution: 2dppx)
                background: image("layout/extend@2x.png") top right no-repeat, image("layout/extend@2x.png") bottom left no-repeat
                background-size: 15px, 15px
        .plus #extend
            width: 80px
            opacity: .4
            color: #000

@media only screen and (max-width: 960px)
    .documentation

        #content
            display: flex
            flex-direction: column
            background: #fff
            article
                margin-right: 0
                padding: 0
                > *
                    padding-left: 10px
                    padding-right: 10px

                #search
                    // Clean up the algolia autocomplete on responsive systems
                    .algolia-autocomplete
                        display: flex !important

                    flex: 1 auto;
                    justify-content: center
                    margin-top: 5px
                    margin-bottom: 5px
                    input
                        padding: 5px
                        font-size: 2em
                        flex: 1 auto;
                        border: 1px solid green

                    button
                        position: absolute
                        top: -500px

            aside
                // don't display menus on phones
                // ideally this would be a slide out menu using Twitter Bootstrap Collapse
                // like simple_fb_html5_sidebar
                display: none
