.getInvolved
    @extend .content-column

    .mailingList, .issueLabel
        white-space nowrap

    .links
        padding-left: 60px
        position: relative
        h3
            display: inline
            &:before
                content: ' '
                display: block
                margin-top: 30px

            &:after
                content: ' '
                position: absolute
                left: 1px
                margin-top: -35px
                display: block
                width: 50px
                height: 50px
                background: image("involved.png") no-repeat
                retina("involved.png", 50px, 200px)
            &.mailing:after
                background-position: 0 0
            &.stackoverflow:after
                background-position: 0 -200px
            &.bugs:after
                background-position: 0 -100px
            &.patch:after
                background-position: 0 -150px
            &.modules:after
                background-position: 0 -50px
            &.opencollective:after
                background-position: 0 -250px

