.getInvolved, .sponsors, .modules, .code, .security, .changelog, .markdown, .outreachy, .support, .getting-started, .alternatives
    aside li
        padding: 4px 0
        text: center
        &:before
            content: none


