.getInvolved, .download, .modules, .code, .security, .changelog, .conduct, .markdown, .outreachy, .support
    aside li
        padding: 4px 0
        text: center
        &:before
            content: none


