.support
    @extends .split-page
    #content
        padding: 0
        section
            background-image: image("support/community.png")
            @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2),only screen and (min-device-pixel-ratio: 2),only screen and (min-resolution: 192dpi),only screen and (min-resolution: 2dppx)
                background-image: image("support/community@2x.png")
            &:last-child
                background-image: image("support/pro.png")
            @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2),only screen and (min-device-pixel-ratio: 2),only screen and (min-resolution: 192dpi),only screen and (min-resolution: 2dppx)
                &:last-child
                    background-image: image("support/pro@2x.png")
            p
                text-align: center

.code
    @extends .split-page
    #content
        section
            background-image: image("support/code.png")
            @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2),only screen and (min-device-pixel-ratio: 2),only screen and (min-resolution: 192dpi),only screen and (min-resolution: 2dppx)
                background-image: image("support/code@2x.png")
            &:last-child
                background-image: image("support/contributors.png")
            @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2),only screen and (min-device-pixel-ratio: 2),only screen and (min-resolution: 192dpi),only screen and (min-resolution: 2dppx)
                &:last-child
                    background-image: image("support/contributors@2x.png")

    .coreteam
        // border-top: 1px solid #eee
        padding: 10px 0
        > a
            display: block
            overflow: hidden
            &:after
                content: none
            img
                height: 80px
                float: left
                margin: 0 10px 0 0
    .contributors
        h2
            clear: both
            padding-top: 20px
        a
            &:after
                content: none
                display: none
            img
                height: 32px
                display: block
                float: left